/* พื้นหลังเบลอของ Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* พื้นหลังโปร่งใสสีดำ */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* กล่อง Modal */
.modal-content {
  background-color: #ffffff;
  padding: 20px 25px; /* เพิ่มระยะขอบซ้ายและขวา */
  width: 300px;
  max-width: 90%;
  border-radius: 1px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column; /* จัดเรียงในแนวตั้ง */
  gap: 10px; /* ระยะห่างระหว่างแต่ละองค์ประกอบ */
}

.modal-content h2 {
  color: #000000;
  text-align: start;
  margin: 0;
}

/* ปุ่มปิด Modal */
.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  font-weight: lighter;
}

/* ช่องกรอก Email */
.modal-content input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 5px; /* เว้นระยะห่างด้านล่าง */
}

.modal-content input[type="email"]::placeholder {
  color: #aaa;
}

/* ปุ่มหลัก */
.email-button {
  width: 100%;
  padding: 10px 8px 9px;
  background-color: #c82021;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  font-family: Libre Franklin, -apple-system, BlinkMacSystemFont, Roboto,
    Droid Sans, Helvetica, Arial, sans-serif;
  border-color: #888;
}

/* ตัวแบ่งระหว่างตัวเลือก */
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #888;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.separator span {
  padding: 0 10px;
  color: #888;
}

/* ปุ่มโซเชียล */
.social-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
  gap: 15px; /* ระยะห่างระหว่างโลโก้และข้อความ */
  font-family: Libre Franklin, -apple-system, BlinkMacSystemFont, Roboto,
    Droid Sans, Helvetica, Arial, sans-serif;
  color: #585858 !important;
  font-weight: bold;
}

.social-button.google,
.social-button.facebook,
.social-button.apple {
  background-color: white;
  color: #000000;
  border: 1px solid #888;
}

.social-button .social-logo {
  width: 20px;
  height: 20px;
}

/* ลิงก์ด้านล่าง */
.modal-content p {
  font-size: 12px;
  color: #888;
  text-align: left;
  line-height: 1.4;
  white-space: normal;
  word-break: break-word;
  margin: auto;
}

.modal-content a {
  color: #c82021;
  text-decoration: none;
}

.modal-content a:hover {
  text-decoration: underline;
}

/* ปุ่ม Forgot Password */
.forgot-password {
  width: 100%;
  background-color: transparent;
  color: #c82021;
  border: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  text-align: end;
}

.forgot-password:hover {
  color: #a8181c;
}

/* ปุ่ม Back */
.back-button {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: #000000;
  border: 1px solid #ddd;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
}

.back-button:hover {
  background-color: #f5f5f5;
}

.white-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #888;
  border-radius: 1px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  gap: 15px;
  font-family: Libre Franklin, -apple-system, BlinkMacSystemFont, Roboto,
    Droid Sans, Helvetica, Arial, sans-serif;
  color: #585858 !important;
  font-weight: bold;
  background-color: white;
}

label[for="six-digit-code"] {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  text-align: left;
}
