* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.navbar{
  height: 3.75rem;
}

@media (max-width: 980px){
  .navbar{
    height: 45px;
  }
}

.search-tab{
  height: 26.563rem;
}

.footer{
  height: auto;
}